@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inconsolata&display=swap");

:root {
  --black: #000000ff;
  --rose: #ff206eff;
  --yellow: #fbff12ff;
  --purple: #6700ff;
  --lightpurple: #b700ff;
  --white: #ffffffff;
  --green: #77ff77;
  --lightblue: #83eeff;
}

*,
button,
select,
option {
  font-family: "IBM Plex Mono", monospace;
}

.centerize {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  width: 1400px;
  height: 700;
  margin-top: 25px;
}

.gap {
  gap: 10px;
}

.cell {
  background-color: black;
}

.cell:hover {
  opacity: 0.7;
}

.start-node {
  background-color: var(--green);
}

.end-node {
  background-color: var(--rose);
}

.wall-node {
  background-color: var(--yellow);
}

.weight-node {
  background-image: url("../assets/weight.svg");
}

.visited-node {
  background-color: var(--purple);
}

.looking-node {
  background-color: var(--lightpurple);
}

.path-node {
  background-color: var(--lightblue);
}
